{% assign education = site.data.data.education %}
{% if education %}
  <div class="education-container container-block">

    <h2 class="container-block-title">
      {{ education.title }}
    </h2>

    {% for graduation in education.info %}
    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ graduation.degree }}</h3>
        <div class="time">{{ graduation.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ graduation.university }}</div>

    </div><!--//meta-->

    {% endfor %}
    </div>
{% endif %}
